/* Social media icon styling */
.social-icons {
    margin-top: 20px;
    text-align: center;
}

.icon-link {
    font-size: 40px;
    margin: 0 15px;
    text-decoration: none;
    color: inherit; /* Inherit color from surrounding context */
    transition: transform 0.3s ease;
}

.icon-link:hover {
    transform: scale(1.1);
}
